.err {
    font: 1em sans-serif;
    text-align: center;
    font-weight: 900;
    margin-top: 25%;
}
img {
    margin-left: 40%;
    margin-top: 10px;
}
p {
    font: 1em sans-serif;
    text-align: center;
    margin-top: 25%;
}

@media (max-width: 768px) {
    p {
        margin-top: 90%;
    }

}